<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Success Page</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
      }

      .success-icon {
        width: 100px;
        height: 100px;
        border: 2px solid #00cc00;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #00cc00;
      }
    </style>
  </head>
  <body>
    <div class="success-icon">
      <span>&#10004;</span>
    </div>
  </body>
</html>

<div class="videosection mt-4">
  <div class="video">
    <% if (video && video.length > 0) { %> <% video.forEach(video => {
    %>
    <!-- <h2><%= video.snippet.title %></h2>
          <p>Description: <%= video.snippet.description %></p>
          <p>Published At: <%= video.snippet.publishedAt %></p> -->
    <iframe
      width="200"
      height="100"
      src="https://www.youtube.com/embed/<%= video.id %>"
    ></iframe>
  </div>
  <div class="quality">
    <form action="/" method="post">
      <select
        class="form-select"
        aria-label="Default select example"
        name="quality"
      >
        <option selected>Quality</option>
        <option value="240">240p</option>
        <option value="360">360p</option>
        <option value="480">480p</option>
        <option value="720">720p</option>
        <option value="1080">1080p</option>
      </select>
      <input
        type="hidden"
        class="form-controlz"
        name="link"
        value="https://www.youtube.com/embed/<%= video.id %>"
        placeholder="Enter video link here "
        required
      />
      <button class="btn-success" onclick="downloadVideo()" type="submit">Download</button>
    </form>
    <div class="progress">
      <div class="progress-bar" id="progressBar">0%</div>
  </div>
  <% }); %> <% } else { %> <% } %>
</div>
</div>
</div>
</div>